/* FONTS */
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding-top: 10vh;
  padding-inline: 1.6rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

button {
  font-weight: 600;
  cursor: pointer;
  padding: .5rem;
  border-radius: 4px;
  border: 0;
  /* text-wrap: nowrap; */
  cursor: pointer;
  width: 100%;
}

.container {
  background-color: whitesmoke;
  padding: 1.5rem;
  width: 100%;
}

.todo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.todo-header img {
  width: 2rem;
  aspect-ratio: 1;
}

.input-group {
  display: flex;
  align-items: center;
  gap: .4rem;
  margin-bottom: .3rem;
}

.input-group input {
  width: 100%;
  outline: 0;
  border: 1px solid #ddd;
  background-color: #ccc;
  font-size: .9rem;
  padding: .7rem .6rem;
  border-radius: 1.4rem;
}

.input-group button {
  background-color: rgb(21, 211, 21);
  color: white;
}

.input-group button:hover {
  background-color: rgb(93, 207, 93);
}

.added-message {
  color: green;
  padding-left: .5rem;
  font-size: .9rem;
  display: none;
}

.added-message.is-added {
  display: initial;
}

.tasks-info {
  margin-bottom: .8rem;
}

.tasks-num {
  color: dodgerblue;
}

.tasks-nav {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  margin-bottom: 1.6rem;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.tasks-categories {
  display: flex;
  gap: 1rem;
}

.category:hover {
  color: orangered;
  cursor: pointer;
  display: inline-block;
}

.category.selected {
  color: orangered;
}

.category.selected::after {
  content: '';
  height: 3px;
  width: 100%;
  display: block;
  background-color: orangered;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tasks-nav button {
  background-color: red;
  color: white;
}

.tasks-nav button:hover {
  background-color: rgb(247, 52, 52);
}

.todo-list {
  display: grid;
  gap: 1rem;
}

.todo {
  display: flex;
  background-color: #ccc;
  padding: .5rem;
  align-items: center;
  justify-content: space-between;
}

.todo .icon {
  width: 1.2rem;
  height: 1.2rem;
}

.todo .edit-group {
  display: none;
}

.todo.is-editing .todo__item,
.todo.is-editing .todo__icons {
  display: none;
}

.todo.is-editing .edit-group {
  display: flex;
}

.edit-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.edit-group input {
  width: 100%;
  outline: none;
  padding: .5rem;
  font-size: .9rem;
}

.edit-group span {
  color: dodgerblue;
  cursor: pointer;
}

.edit-group span:hover {
  color: orangered;
}

.todo__item {
  display: flex;
  gap: .5rem;
  cursor: pointer;
}

.todo__item input,
.todo__item label {
  cursor: pointer;
}

.todo__icons .icon:hover {
  fill: orangered;
  cursor: pointer;
}

.todo__item.done label {
  text-decoration: line-through;
  color: #444;
}